h1 {
    text-align: center;
    border-style: solid;
    color: white;
    font-size: 30px;
    padding: 10px 0px;
    background: linear-gradient(to right, #0066b2,#002D62);
    width: 100%;
}

h2 {
    display: inline-block;
    font-size: 26px;
    font-weight: bolder;
}

h3 {
    font-size: 18px;
}

.form-label {
    font-size: 20px;
    font-weight: bold;
}

.current-container,
.forecast-container {
    border-style: solid;
}

.search-results { 
border-top: 2px solid gainsboro;

}

.btn-secondary {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    background-color: lightgray;
    color: black;
    
    
}

#search-btn {
    width: 100%;
}

#city-current {
    display: inline-block;
    vertical-align: middle;

}
#card-1,
#card-2,
#card-3,
#card-4,
#card-5 {
    display: inline-block;
    text-align: left;
    border-style: solid;
    background-color: #002D62;
    color: white;
    padding: 10px;
}

